@model TileModel

<link rel="stylesheet" href="~/css/GameBoard.css" />

@if (Model == null)
{
    <button class="tile error"> X </button>
}
else
{
    @if (!Model.isBomb)
    {
        @if (Model.isRevealed)
        {
            <button class="revealed" data-x="@ViewData["x"]" data-y="@ViewData["y"]">
                @if (Model.neighborBombs > 0)
                {
                    <span class="number-@Model.neighborBombs">@Model.neighborBombs</span>
                }
            </button>
        }
        else
        {
            <button class="tile" data-x="@ViewData["x"]" data-y="@ViewData["y"]"></button>
        }
    }
    else
    {
        <button class="tile bomb" data-x="@ViewData["x"]" data-y="@ViewData["y"]"></button>
    }
}
